<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VideoJS Neue All Menu Controls Example</title>

    <style>
      html {
        width: 100%;
        height: 100%;
        font-family: consolas;
        font-size: 10px;
        background-color:#e5e5e5;
      }
      body {
        margin: 0;
      }
      video {
        margin: 0;
      }
    </style>

    <!-- Load the css files -->
    <link href="../build/temp/video-js.css" rel="stylesheet" type="text/css">

    <!-- Prevent VideoJS from injecting Header styles -->
    <script>window.VIDEOJS_NO_DYNAMIC_STYLE = true</script>

    <!-- Load VideoJS Javascript files -->
    <script src="../dist/video.js"></script>

  </head>
  <body>

    <video id="videoJSElement" class="video-js vjs-16-9 vjs-big-play-centered" poster="poster.jpg">
      <source src="https://archive.org/download/ElephantsDream/ed_hd.mp4" type="video/mp4">
      <source src="https://archive.org/download/ElephantsDream/ed_hd.ogv" type="video/ogv">
      <track kind="captions" src="../docs/examples/elephantsdream/captions.en.vtt" srclang="en" label="English" default>
      <track kind="captions" src="../docs/examples/elephantsdream/captions.sv.vtt" srclang="sv" label="Swedish">
      <track kind="captions" src="../docs/examples/elephantsdream/captions.ru.vtt" srclang="ru" label="Russian">
      <track kind="captions" src="../docs/examples/elephantsdream/captions.ja.vtt" srclang="ja" label="Japanese">
      <track kind="captions" src="../docs/examples/elephantsdream/captions.ar.vtt" srclang="ar" label="Arabic">
      <track kind="descriptions" src="../docs/examples/elephantsdream/descriptions.en.vtt" srclang="en" label="English" default>
      <track kind="chapters" src="../docs/examples/elephantsdream/chapters.en.vtt" srclang="en" label="English" default>
      <track kind="subtitles" src="../docs/examples/shared/example-captions.vtt" srclang="en" label="English" default>
      <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
    </video>

    <script>
      var player = videojs('videoJSElement', {

        // Native HTML5 options
        'autoplay': false,
        'controls': true,
        'loop': false,
        'muted': false,
        'preload': 'auto',

        // Non-native HTML5 options
        'controlBar': {
          'audioTrackButton': true,
          'chaptersButton': true, // Visibility is dependent on nativeTextTracks value
          'currentTimeDisplay': true,
          'customControlSpacer': true,
          'descriptionsButton': true, // Visibility is dependent on nativeTextTracks value
          'durationDisplay': true,
          'liveDisplay': true,
          'muteToggle': false,
          'playbackRateMenuButton': true,
          'playToggle': true,
          'progressControl': true,
          'remainingTimeDisplay': true,
          'subsCapsButton': true, // Visibility is dependent on nativeTextTracks value
          'timeDivider': true,
          'volumePanel': true,
        },
        // 'fluid': true, // Fluid has a black border with mpeg-dash, use vjs-16-9 class in video tag instead
        'html5': {
          nativeTextTracks: false, // N.B. Can affect visibility of individual controlBar items
          nativeControlsForTouch: false, // Overides VideoJS Neue theme with OS controls on touch devices
          nativeAudioTracks: false,
          nativeVideoTracks: false,
        },
        'playbackRates': [0.5, 1, 1.5, 2],
      },
      function() {
        // this.createModal('foo');
        // Callback.
      });
    </script>

    <!--<script>player.createModal('foo');</script>-->

  </body>
</html>
