<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AV Neue Theme All Menu Controls Example</title>

    <style>
      html {
        width: 100%;
        height: 100%;
        font-family: consolas;
        font-size: 100%;
        background-color:#e5e5e5;
      }
      body {
        margin: 0;
        height: 100%;
      }
      video {
        margin: 0;
      }
    </style>

    <!-- AV Neue theme -->
    <link href="../dist/video-js.css" rel="stylesheet" type="text/css">

    <!-- Video.js -->
    <script src="../dist/video.min.js"></script>

  </head>
  <body>

    <video id="videojsElement" class="video-js vjs-big-play-centered" poster="poster.jpg">
      <source src="https://archive.org/download/ElephantsDream/ed_hd.mp4" type="video/mp4">
      <source src="https://archive.org/download/ElephantsDream/ed_hd.ogv" type="video/ogv">

      <track kind="captions" src="../docs/examples/elephantsdream/captions.en.vtt" srclang="en" label="English" default>
      <track kind="captions" src="../docs/examples/elephantsdream/captions.sv.vtt" srclang="sv" label="Swedish">
      <track kind="captions" src="../docs/examples/elephantsdream/captions.ru.vtt" srclang="ru" label="Russian">
      <track kind="captions" src="../docs/examples/elephantsdream/captions.ja.vtt" srclang="ja" label="Japanese">
      <track kind="captions" src="../docs/examples/elephantsdream/captions.ar.vtt" srclang="ar" label="Arabic">

      <track kind="descriptions" src="../docs/examples/elephantsdream/descriptions.en.vtt" srclang="en" label="English" default>

      <track kind="chapters" src="../docs/examples/elephantsdream/chapters.en.vtt" srclang="en" label="English" default>

      <track kind="subtitles" src="../docs/examples/shared/example-captions.vtt" srclang="en" label="English" default>

      <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
    </video>

    <script>
      var player = videojs('videojsElement', {
        'autoplay': false,
        'controls': true,
        'loop': false,
        'muted': false,
        'preload': 'auto',
        'responsive': true,
        'fluid': true,          // (1) or...
//      'fill': true            // (2) or...
//      'aspectRatio': '16:9'   // (3)
        'breakpoints': {
          'tiny': 210,
          'x-small': 320,
          'small': 639,
          'medium': 768,
          'large': 1440,
          'x-large': 2560,
          'huge': Infinity
        },
        'html5': {
          'nativeTextTracks': false,
          'nativeControlsForTouch': false,
          'nativeAudioTracks': false,
          'nativeVideoTracks': false,
        },
        'inactivityTimeout': 1000,
        'playbackRates': [0.5, 1, 1.5, 2],
        'controlBar': {
          'audioTrackButton': true,
          'chaptersButton': true,
          'currentTimeDisplay': true,
          'customControlSpacer': true,
          'descriptionsButton': true,
          'durationDisplay': true,
          'liveDisplay': true,
          'muteToggle': false,
          'playbackRateMenuButton': true,
          'playToggle': true,
          'progressControl': true,
          'remainingTimeDisplay': false,
          'subsCapsButton': true,
          'timeDivider': false,
          'volumePanel': true,
        },
      },
      function() {
        // this.createModal('foo');
        // Callback.
      });
    </script>

    <!--<script>player.createModal('foo');</script>-->

  </body>
</html>
