<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Videojs Neue Example</title>

    <style>
      html {
        width: 100%;
        height: 100%;
        font-family: consolas;
        font-size: 10px;
        background-color:#e5e5e5;
      }
      body {
        margin: 0;
      }
      video {
        margin: 0;
      }
      div.instructions {
        color: #999;
        padding: 10px;
        margin-bottom: 20px;
        font-size: 1.2rem;
        line-height: 1.5;
      }
      pre {
        font-family: inherit;
      }
    </style>

    <!-- Load the css files -->
    <link href="../build/temp/video-js.css" rel="stylesheet" type="text/css">

    <!-- Add ES5 shim and sham for IE8 -->
    <script src="../dist/ie8/videojs-ie8.js"></script>

    <!-- Load Javascript files -->
    <script src="../dist/video.js"></script>
    <script src="../node_modules/videojs-flash/dist/videojs-flash.js"></script>

    <!-- Set the location of the flash SWF -->
    <script>videojs.options.flash.swf = '../node_modules/videojs-flash/node_modules/videojs-swf/dist/video-js.swf';</script>

  </head>
  <body>

    <video id="videoJSElement" class="video-js vjs-fluid vjs-big-play-centered" poster="poster.jpg">
      <source src="https://archive.org/download/ElephantsDream/ed_hd.mp4" type="video/mp4">
      <source src="https://archive.org/download/ElephantsDream/ed_hd.ogv" type="video/ogv">
      <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
    </video>

    <div class="instructions">
      <p>You can use /sandbox/ for writing and testing your own code. Nothing in /sandbox/ will get checked into the repo, except files that end in .example (so don't edit or add those files). To get started make a copy of index.html.example and rename it to index.html.</p>
      <pre>cp sandbox/index.html.example sandbox/index.html</pre>
      <pre>grunt watch</pre>
      <pre>grunt connect</pre>
      <pre>open http://localhost:9999/sandbox/index.html</pre>
    </div>

    <script>
      videojs(document.getElementById('videoJSElement'), {
        "html5": {
          nativeTextTracks: true // Set false to test descriptions
        },
        // Fluid has a black border with mpeg-dash, use vjs-16-9 style instead
        // "fluid": true,
        "controls": true,
        "preload": "auto",
        "autoplay": false,
        "controlBar": {
          // this.createModal('foo');
          // muteToggle: false // example component toggle
        }
      },
      function() {
        // Callback.
      });
     </script>

     <!--<script>player.createModal('foo');</script>-->

  </body>
</html>
