<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Video.js Playback Rate Example</title>

  <!-- Viewport style -->
  <style>
    html {
      width: 100%;
      height: 100%;
      font-family: consolas;
      font-size: 100%;
      background-color: #1a1a1a;
    }
    body {
      margin: 0;
      height: 100%;
    }
    video {
      margin: 0;
    }
  </style>

  <link href="../dist/video-js.css" rel="stylesheet" type="text/css">
  <script src="../dist/video.js"></script>

  </head>
  <body>

    <video-js
      id="videojsElement"
      lang="en"
      controls
      preload="auto"
      width="640"
      height="360"
      poster="//d2zihajmogu5jn.cloudfront.net/elephantsdream/poster.png"
    >
    <source
      src="https://archive.org/download/ElephantsDream/ed_hd.mp4"
      type="video/mp4"
    >
    <source
      src="https://archive.org/download/ElephantsDream/ed_hd.ogv"
      type="video/ogv"
    >
    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
    </video-js>
    <script>

    /* Add a custom component to wrap control bar child flex items,
     * cf. player control bar children below
     */
     const Component = videojs.getComponent('Component');
    class neueWrap extends Component {
      constructor(player, options) {
        super(player, options);
        this.addClass('vjs-neue-wrap'); // Add any classes you want
      }
    }
    videojs.registerComponent('neueWrap', neueWrap);

    /* Pad time with leading zeros,
     * cf. player ready function below
     */
    function formatTimeWithLeadingZeros(seconds) {
      const minutes = Math.floor(seconds / 60);
      const remainingSeconds = Math.floor(seconds % 60);
      return `${minutes < 10 ? '0' : ''}${minutes}:${remainingSeconds < 10 ? '0' : ''}${remainingSeconds}`;
    }

    var player = videojs('videojsElement', {
      autoplay: false,
      experimentalSvgIcons: true,
      controls: true,
      loop: false,
      muted: false,
      preload: 'auto',
      responsive: true,
      fluid: true,            // (1) or...
      // fill: true,          // (2) or...
      // aspectRatio: '16:9', // (3)
      // audioOnlyMode: true,
      spatialNavigation: {
        enabled: true,
        horizontalSeek: true
      },
      // Breakpoints require responsive: true
      breakpoints: {
        tiny: 210,
        xsmall: 320,
        small: 425,
        medium: 768,
        large: 1440,
        xlarge: 2560,
        huge: Infinity
      },
      html5: {
        nativeTextTracks: false,
        nativeControlsForTouch: false,
        nativeAudioTracks: false,
        nativeVideoTracks: false,
      },
      inactivityTimeout: 1000,
      playbackRates: [
        0.5,
        1,
        1.5,
        2
      ],
      controlBar: {
        // children in flex order
        children: [
          'playToggle',
          {
            name: 'volumePanel',
            inline: true // Direction
          },
          'customControlSpacer',
          'playbackRateMenuButton',
          'chaptersButton',
          'descriptionsButton',
          'subtitlesButton',
          'captionsButton',
          'subsCapsButton',
          'audioTrackButton',
          'pictureInPictureToggle',
          'fullscreenToggle',
          'neueWrap', // Custom flexwrap component
          'currentTimeDisplay',
          'timeDivider',
          'durationDisplay',
          'skipBackward',
          'skipForward',
          'progressControl',
          'liveDisplay',
          'seekToLive',
          {
            name: 'remainingTimeDisplay',
            displayNegative: false 
          },
        ],
      },
    });
    /* Show big play button when paused and time controls,
     * cf. https://github.com/videojs/video.js/pull/8833
     */
    player.addClass(
      'vjs-normalise-time-controls',
      'vjs-show-big-play-button-on-pause'
    );
    player.ready(function() {
      // Start spatial navigation e.g. pointer devices
      player.spatialNavigation.start();

      // Pad time with leading zeros
      const currentTimeDisplay = player.controlBar.currentTimeDisplay;
      const remainingTimeDisplay = player.controlBar.remainingTimeDisplay;

      currentTimeDisplay.el().innerText = formatTimeWithLeadingZeros(0);
      remainingTimeDisplay.el().innerText = formatTimeWithLeadingZeros(player.duration());

      currentTimeDisplay.updateContent = function() {
        const currentTime = player.currentTime();
        this.el().innerText = formatTimeWithLeadingZeros(currentTime);
      };

      remainingTimeDisplay.updateContent = function() {
        const remainingTime = player.remainingTime();
        this.el().innerText = formatTimeWithLeadingZeros(Math.abs(remainingTime));
      };
      // Remove browser tooltips 
      player.el().querySelectorAll('[title]').forEach(element => {
        element.setAttribute('title', '');
      });
    });
    console.log(player.language());
    </script>
  </body>
</html>
