<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AV Neue Theme Vertical Volume Example</title>

    <style>
      html {
        width: 100%;
        height: 100%;
        font-family: consolas;
        font-size: 10px;
        background-color:#e5e5e5;
      }
      body {
        margin: 0;
      }
      video {
        margin: 0;
      }
    </style>

    <!-- Load the css files -->
    <link href="../dist/video-js.css" rel="stylesheet" type="text/css">

    <!-- Prevent Video.js from injecting Header styles -->
    <script>window.VIDEOJS_NO_DYNAMIC_STYLE = true</script>

    <!-- Load Video.js Javascript files -->
    <script src="../dist/video.js"></script>

  </head>
  <body>

  <video id="videoJSElement" class="video-js vjs-16-9 vjs-big-play-centered" poster="poster.jpg">
    <source src="https://archive.org/download/ElephantsDream/ed_hd.mp4" type="video/mp4">
    <source src="https://archive.org/download/ElephantsDream/ed_hd.ogv" type="video/ogv">

    <!-- Tracks need an ending tag thanks to IE9 -->
    <track kind="captions" src="../docs/examples/elephantsdream/captions.en.vtt" srclang="en" label="English" default></track>
    <track kind="captions" src="../docs/examples/elephantsdream/captions.sv.vtt" srclang="sv" label="Swedish"></track>
    <track kind="captions" src="../docs/examples/elephantsdream/captions.ru.vtt" srclang="ru" label="Russian"></track>
    <track kind="captions" src="../docs/examples/elephantsdream/captions.ja.vtt" srclang="ja" label="Japanese"></track>
    <track kind="captions" src="../docs/examples/elephantsdream/captions.ar.vtt" srclang="ar" label="Arabic"></track>
    <track kind="descriptions" src="../docs/examples/elephantsdream/descriptions.en.vtt" srclang="en" label="English"></track>
    <track kind="chapters" src="../docs/examples/elephantsdream/chapters.en.vtt" srclang="en" label="English"></track>
    <track kind="subtitles" src="../docs/examples/shared/example-captions.vtt" srclang="en" label="English"></track>
    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
  </video>

  <script>
    var player = videojs('videoJSElement', {

      // Native HTML5 options
      'autoplay': false,
      'controls': true,
      'loop': false,
      'muted': false,
      'preload': 'auto',

      // Non-native HTML5 options
      'controlBar': {
        'durationDisplay': true,
        'remainingTimeDisplay': false,
        'timeDivider': false,
        'volumePanel': {
          inline: false
        },
      },
      // 'fluid': true, // Fluid has a black border with mpeg-dash, use vjs-16-9 class in video tag instead
      'inactivityTimeout': 1000,
      'html5': {
        nativeTextTracks: false, // N.B. Can affect visibility of individual controlBar items
        nativeControlsForTouch: false, // Overides AV Neue theme with OS controls on touch devices
        nativeAudioTracks: false,
        nativeVideoTracks: false,
      },
    },
    function() {
      // this.createModal('foo');
      // Callback.
    });
  </script>

  <!--<script>player.createModal('foo');</script>-->

  </body>
</html>
