// Audio Tracks
.video-js .vjs-audio-button {
  span.vjs-icon-placeholder {
    display: block;
    position: relative; // Required for positioning of pseudo content
    width: 100%;
    height: 100%;
    background-size: contain;
    @extend .icon-menu;
    &:before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      content: "";
      opacity: 0;
      @extend .icon-menu-highlight;
      @include transition(opacity $icon-unhighlight-time);
    }
    &:hover {
      &:before {
        opacity: 1;
        @include transition(opacity $icon-highlight-time);
      }
    }
  }
}
