// Big play button shape and triangle
.video-js .vjs-big-play-button {
  position: absolute;
  
  // Neue theme play button has no top left style
  top: 50%; 
  left: 50%;
  
  width: $big-play-button--width;
  height: $big-play-button--height;
  
  // Neue theme play button has no top left style
  margin-top: -($big-play-button--height / 2);
  margin-left: -($big-play-button--width / 2);
  
  padding: 0;
  cursor: pointer;
  opacity: 1;
  background-size: contain;
  @extend .icon-big-play;
  @include transition(opacity 0.5s);
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: inherit;
    height: inherit;
    content: "";
    opacity: 0;
    @extend .icon-big-play-highlight;
    @include transition(opacity 0.5s);
  }
}

// Allow people that hate their poster image to center the big play button.
.vjs-big-play-centered .vjs-big-play-button {
  top: 50%;
  left: 50%;
  margin-top: -($big-play-button--height / 2);
  margin-left: -($big-play-button--width / 2);
}

// Play button hover changes
.video-js .vjs-big-play-button:hover,
.video-js .vjs-big-play-button:focus {
  outline: 0;
  @include transition(opacity 0.5s);
  &:before {
    opacity: 1;
    @include transition(opacity 0.5s);
  }
}

// Hide if controls are disabled or native controls are used.
.vjs-controls-disabled .vjs-big-play-button,
.vjs-using-native-controls .vjs-big-play-button,
.vjs-error .vjs-big-play-button {
  display: none;
}

// Hide if the video is playing
.vjs-has-started .vjs-big-play-button {
  pointer-events: none;
  opacity: 0;
  @include transition(opacity 0.5s);
}

// Show if the video is paused
.vjs-paused .vjs-big-play-button {
  pointer-events: all;
  opacity: 1;
  @include transition(opacity 0.5s);
}
