.video-js button {
  background: none;
  border: none;
  color: inherit;
  display: inline-block;

  font-family: inherit;
  font-size: inherit; // IE in general. WTF.
  line-height: inherit;
  text-transform: none;
  text-decoration: none;
  transition: none;

  // Chrome < 83
  -webkit-appearance: none;
          appearance: none;
}

// Replacement for focus in case spatial navigation is enabled
.video-js.vjs-spatial-navigation-enabled .vjs-button:focus {
  @extend %neue-spatial;
}

// Control bar grandchild buttons
.vjs-control.vjs-button .vjs-button {
  width: 100%;
  height: 100%;
}

// Control bar child buttons
.vjs-control.vjs-button {
  width: $control-button-width; 
  height: $control-button-height;
}
