.video-js .vjs-captions-button {
  position: relative; // enables absolute positioning on nested elements
  cursor: pointer;
  opacity: 1;
  background-size: contain;
  @extend .icon-closed-captions;
  @include transition(opacity 0.5s);
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: inherit;
    height: inherit;
    content: "";
    opacity: 0;
    @extend .icon-closed-captions-highlight;
    @include transition(opacity 0.5s);
  }
  &:hover {
    @include transition(opacity 0.5s);
    &:before {
      opacity: 1;
      @include transition(opacity 0.5s);
    }
  }
}
