.video-js .vjs-captions-button {
  position: absolute;
  top: $control-button-width + 0.8rem;
  left: 0;
  width: $control-button-width;
  height: $control-button-width;
  cursor: pointer;
  @extend .icon-closed-captions;
  background-size: contain;
}
