.vjs-modal-dialog.vjs-text-track-settings {
  // background-color is not used for Neue here
  color: $primary-foreground-color;
  // Height is not hard coded for Neue

  // When Spatial Navigation is enabled
  .vjs-spatial-navigation-enabled & {
    // Height is not hard coded for Neue
  }
}

// Hide if an error occurs
.vjs-error .vjs-text-track-settings {
  display: none;
}

// Layout divs
.vjs-text-track-settings .vjs-modal-dialog-content {
  display: table;
}

.vjs-text-track-settings .vjs-track-settings-colors,
.vjs-text-track-settings .vjs-track-settings-font,
.vjs-text-track-settings .vjs-track-settings-controls {
  display: table-cell;
}

.vjs-text-track-settings .vjs-track-settings-controls {
  // Buttons are not right aligned for Neue
  vertical-align: bottom;
}

// code that will only run if CSS Grid is supported by the browser
@supports (display: grid) {
  .vjs-text-track-settings .vjs-modal-dialog-content {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    column-gap: 40px;
    // Flex and Grid for Firefox, IE, and Edge remove the bottom padding/margin in a container as size decreases
    // so we add bottom padding/margin to the last item in the grid instead of here
    // see https://stackoverflow.com/a/23754080
    padding: $modal-padding $modal-padding 0 $modal-padding;
  }

  // see the comment for padding above
  .vjs-track-settings-controls .vjs-default-button {
    margin-bottom: $modal-padding;
  }

  .vjs-text-track-settings .vjs-track-settings-controls {
    // make this take up both columns
    grid-column: 1 / -1;
  }

  // 1 column for small players
  // .vjs-layout-medium .vjs-text-track-settings .vjs-modal-dialog-content,
  .vjs-layout-small .vjs-text-track-settings .vjs-modal-dialog-content,
  .vjs-layout-x-small .vjs-text-track-settings .vjs-modal-dialog-content,
  .vjs-layout-tiny .vjs-text-track-settings .vjs-modal-dialog-content {
    grid-template-columns: 1fr;

    & .vjs-track-settings-font legend:before {
      content: none;
    }
  }
}

// Form elements
.vjs-text-track-settings select {
  font-size: inherit;
}

.vjs-track-setting > select {
  margin-right: 10px;
  margin-bottom: 0;
}

.vjs-text-track-settings fieldset {
  margin: 0 0 30px;
  padding: 0;
  border: none;
}

.vjs-text-track-settings fieldset span {
  display: inline-block;
  padding: 0;

  &:first-of-type {
    margin-right: 12px;
  }
}

// style the second select for text colors
.vjs-text-track-settings fieldset span > select {
  // max-width is not used for Neue here
  margin-bottom: 0;
}

.vjs-text-track-settings legend {
  padding: 0;
  color: $primary-foreground-color;
  // These font properites are not used for Neue
}

.vjs-text-track-settings .vjs-label {
  display: block;
  margin: 0;
}

.vjs-track-settings-controls button:focus,
.vjs-track-settings-controls button:active {
  outline-style: none;
  outline-width: 0;
  color: $menu-text-color-highlight;
  background-color: $menu-background-color-highlight;
}

.vjs-track-settings-controls button:hover {
  color: $menu-text-color-highlight;
  background-color: $menu-background-color-highlight;
}

.vjs-track-settings-controls button {
  background-color: $menu-background-color;
  color: $menu-text-color;
  cursor: pointer;
  // Border radius is not used for Neue
}

.vjs-track-settings-controls .vjs-default-button {
  margin-right: 12px;
}

// Add a line break above the legend in font fieldsets
.vjs-track-settings-font legend:before {
  content: "\A";
  white-space: pre;
}

// Limit the width of select elements
.vjs-text-track-settings fieldset select {
  font-family: inherit;
  max-width: 104px;
}
