.video-js .vjs-control.vjs-close-button {
  position: absolute;
  //z-index: 2;
  top: $controls-margin;
  right: $controls-margin;
  width: $control-button-width;
  height: $control-button-width;
  cursor: pointer;
  opacity: 1;
  background-size: contain;
  @extend .icon-close;
  @include transition(opacity 0.5s);
  &:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    content: "";
    opacity: 0;
    @extend .icon-close-highlight;
    @include transition(opacity 0.5s);
  }
  &:hover {
    @include transition(opacity 0.5s);
    &:before {
      opacity: 1;
      @include transition(opacity 0.5s);
    }
  }
}
