.video-js .vjs-control.vjs-close-button {
  cursor: pointer;
  width: $control-button-width-1-1;
  height: $control-button-height;
  position: absolute;
  right: $control-button-width-1-1;
  top: $control-button-height;
  z-index: 2;

  & .vjs-icon-placeholder {
    @extend .vjs-icon-cancel;
    width: $control-button-width-1-1;
  }
}
