// vjs-control might be better named vjs-button now.
// It's used on both real buttons (play button)
// and div buttons (menu buttons)
.video-js .vjs-control {
  // Position, display, height, width and text-align are not used for Neue
  margin: 0;
  padding: 0;
  pointer-events: all;
  outline: none;
}

.video-js .vjs-control.vjs-visible-text {
  width: auto;
  padding-left: 1em;
  padding-right: 1em;
}

.vjs-button > .vjs-icon-placeholder:before {
  font-size: 1.8em;
  line-height: 1.67;

  @extend %icon-default;
}
  
.vjs-button > .vjs-icon-placeholder {
    display: block;
}

.vjs-button > .vjs-svg-icon {
  display: inline-block;
}

// Replacement for focus outline
.video-js .vjs-control:focus:before,
.video-js .vjs-control:hover:before,
.video-js .vjs-control:focus {
  // text-shadow is not used for Neue
}

// Hide control text visually, but have it available for screenreaders
.video-js *:not(.vjs-visible-text) > .vjs-control-text {
  @include hide-visually;
}
