.video-js .vjs-descriptions-button {
  position: relative; // Required for positioning of pseudo content
  background-size: contain;
  @extend .icon-descriptions;
  @include transition(opacity 0.5s);
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: inherit;
    height: inherit;
    content: "";
    opacity: 0;
    @extend .icon-descriptions-highlight;
    @include transition(opacity 0.5s);
  }
  &:hover {
    @include transition(opacity 0.5s);
    &:before {
      opacity: 1;
      @include transition(opacity 0.5s);
    }
  }
}
