.video-js .vjs-fullscreen-control {
  position: absolute;
  top: 0;
  right: 0;
  width: $control-button-width;
  height: $control-button-width;
  cursor: pointer;
  @extend .icon-fullscreen-enter;
  &:before {
    content: "";
    @extend .icon-fullscreen-enter-arrow;
    @include transition(all 0.25s);
  }
  &:hover:before {
    // position is inherited in .vjs-control
    top: -3px;
    left: 3px;
    @include transition(all 0.25s);
  }
}

// Switch to the exit icon when the player is in fullscreen
.video-js.vjs-fullscreen .vjs-fullscreen-control {
  @extend .icon-fullscreen-exit;
  &:before {
    content: "";
    @extend .icon-fullscreen-exit-arrow;
    @include transition(all 0.25s);
  }
  &:hover:before {
    // position is inherited in .vjs-control
    top: 3px;
    left: -3px;
    @include transition(all 0.25s);
  }
}
