// We are assuming there is no progress bar and using the live display
// to fill in the middle space. Live+DVR will need to adjust this.

.video-js .vjs-live-control,
.vjs-no-flex .vjs-live-control {
  position: absolute;
  bottom: $control-button-height;
  left: 0;
  height: 1em;
  font-size: $text-time-size;
  line-height: 1em;
  // text-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
}

.video-js .vjs-live-control {
  @include display-flex(center);
  @include flex(auto);
}

.vjs-no-flex .vjs-live-control {
  display: table-cell;
  width: auto;
  text-align: left;
}

.vjs-live-middot {
  display: block;
  width: 1em;
  height: 1em;
  background-color: $accent-color;
  @include border-radius(50%);
}

.vjs-live-display-text {
  display: none;
}
