.vjs-loading-spinner {
  display: none;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  width: $loading-spinner-size;
  height: $loading-spinner-size;
  margin: $loading-spinner-size/-2 0 0 $loading-spinner-size/-2;
  // Need to fix centered page layouts
  text-align: left;
  opacity: 1;
  border: $loading-spinner-stroke solid rgba($primary-background-color, 0);
  @include border-radius(50%);
  background-clip: padding-box;
}

.vjs-seeking .vjs-loading-spinner,
.vjs-waiting .vjs-loading-spinner {
  display: block;
  animation: 0s linear 0.3s forwards vjs-spinner-show;
}

.vjs-loading-spinner:before,
.vjs-loading-spinner:after {
  content: "";
  position: absolute;
  box-sizing: inherit;
  width: inherit;
  height: inherit;
  margin: $loading-spinner-stroke * -1;
  // Keep 100% opacity so they don't show through each other
  opacity: 1;
  border: inherit;
  border-color: transparent;
  border-top-color: $primary-foreground-color;
  border-radius: inherit;
}

// only animate when showing because it can be processor heavy
.vjs-seeking .vjs-loading-spinner:before,
.vjs-seeking .vjs-loading-spinner:after,
.vjs-waiting .vjs-loading-spinner:before,
.vjs-waiting .vjs-loading-spinner:after {
  -webkit-animation: vjs-spinner-spin 1s cubic-bezier(0.6, 0, 0.4, 1) infinite, vjs-spinner-fade 1s linear infinite;
          animation: vjs-spinner-spin 1s cubic-bezier(0.6, 0, 0.4, 1) infinite, vjs-spinner-fade 1s linear infinite;
}

.vjs-seeking .vjs-loading-spinner:before,
.vjs-waiting .vjs-loading-spinner:before {
  border-top-color: #e5e5e5;
}

.vjs-seeking .vjs-loading-spinner:after,
.vjs-waiting .vjs-loading-spinner:after {
  border-top-color: #e5e5e5;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@keyframes vjs-spinner-show {
  to {
    visibility: visible;
  }
}

@-webkit-keyframes vjs-spinner-show {
  to {
    visibility: visible;
  }
}

@keyframes vjs-spinner-spin {
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes vjs-spinner-spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes vjs-spinner-fade {
  0% {
    border-top-color: transparent;
  }
  20% {
    border-top-color: #e5e5e5;
  }
  80% {
    border-top-color: #e5e5e5;
  }
  100% {
    border-top-color: transparent;
  }
}

@-webkit-keyframes vjs-spinner-fade {
  0% {
    border-top-color: transparent;
  }
  20% {
    border-top-color: #e5e5e5;
  }
  80% {
    border-top-color: #e5e5e5;
  }
  100% {
    border-top-color: transparent;
  }
}
