.video-js .vjs-modal-dialog {
  @extend %fill-parent;
  // Linear gradient is not used for Neue
  // This allows scrolling of content if need be.
  overflow: auto;
}

// Reset box-sizing inside the modal dialog
.video-js .vjs-modal-dialog > * {
  box-sizing: border-box;
}

.vjs-modal-dialog .vjs-modal-dialog-content {
  // %fill-parent is not used for Neue
  font-size: $modal-text-size;
  line-height: $modal-text-line-height;
  padding: $modal-padding;
   // z-index is not used for Neue
  background-color: $primary-background-color;
  @include box-shadow (0 0 4px rgba(0, 0, 0, 0.5))
}
