// main: ../video-js.scss

.vjs-modal-dialog-content {
  z-index: 1;
  font-size: $modal-text-size;
  line-height: $modal-text-line-height;
}

.video-js .vjs-modal-dialog {
  @include display-flex(flex-start, flex-start);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: $modal-padding;
  overflow: auto;
  background-color: $primary-background-color;
}

// Reset box-sizing inside the modal dialog
// But we don't use the IE fix above for AV Neue theme
.video-js .vjs-modal-dialog > * {
  // box-sizing: border-box;
}

.vjs-modal-dialog .vjs-modal-dialog-content {
  // see .vjs-modal-dialog-content;
}
