.video-js button.vjs-playback-rate {
  position: relative; // Required for positioning of pseudo content
  background-size: contain;
  @extend .icon-playback-rate;
  $transition-property: opacity $icon-highlight-time;
  @include transition($transition-property);
  &:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    content: "";
    opacity: 0;
    @extend .icon-playback-rate-highlight;
    $transition-property: opacity $icon-highlight-time;
    @include transition($transition-property);
  }
  &:hover {
    &:before {
      opacity: 1;
    }
  }
}

// TODO: I feel like this should be a generic menu. Research later.
.vjs-playback-rate > .vjs-menu-button {
  // 
}

.vjs-playback-rate .vjs-playback-rate-value {
  display: none;
  pointer-events: none;
}

.vjs-playback-rate .vjs-menu {
  width: $menu-popup-width / 2;
  text-align: right;
}
