// TODO: I feel like this should be a generic menu. Research later.
.video-js .vjs-playback-rate {
  position: relative; // Required for positioning of pseudo content
  background-size: contain;
  @extend .icon-playback-rate;
  @include transition(opacity 0.5s);
  &:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    content: "";
    opacity: 0;
    @extend .icon-playback-rate-highlight;
    @include transition(opacity 0.5s);
  }
  &:hover {
    @include transition(opacity 0.5s);
    &:before {
      opacity: 1;
      @include transition(opacity 0.5s);
    }
  }
}

.vjs-playback-rate .vjs-playback-rate-value {
  // Disabled for Neue theme in favor of submenu
  /*
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 1.2rem;
  line-height: 2;
  text-align: center;
  */
}

.vjs-playback-rate .vjs-menu {
  width: $menu-popup-width / 2;
  text-align: right;
}

