.video-js .vjs-play-control {
  cursor: pointer;
  position: absolute; // Remove from flex model for positioning
  left: 0;
  bottom: $control-button-height + $control-button-spacing;
  background-size: contain;
  @extend .icon-chapters;
  $transition-property: opacity $icon-highlight-time;
  @include transition($transition-property);
  &:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    content: "";
    opacity: 0;
    @extend .icon-chapters-highlight;
    $transition-property: opacity $icon-highlight-time;
    @include transition($transition-property);
  }
  &:hover {
    &:before {
      opacity: 1;
    }
  }
}

.video-js .vjs-play-control.vjs-playing {
  position: relative; // Required for positioning of pseudo content
  background-size: contain;
  @extend .icon-chapters;
  $transition-property: opacity $icon-highlight-time;
  @include transition($transition-property);
  &:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    content: "";
    opacity: 0;
    @extend .icon-chapters-highlight;
    $transition-property: opacity $icon-highlight-time;
    @include transition($transition-property);
  }
  &:hover {
    &:before {
      opacity: 1;
    }
  }
}

.video-js .vjs-play-control.vjs-ended {
  position: relative; // Required for positioning of pseudo content
  background-size: contain;
  @extend .icon-chapters;
  $transition-property: opacity $icon-highlight-time;
  @include transition($transition-property);
  &:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    content: "";
    opacity: 0;
    @extend .icon-chapters-highlight;
    $transition-property: opacity $icon-highlight-time;
    @include transition($transition-property);
  }
  &:hover {
    &:before {
      opacity: 1;
    }
  }
}
