
// Container for all progress sliders
// Also acts as hover area
// Hide until play starts
.video-js .vjs-progress-control {
  display: flex;
  align-items: center;
  visibility: hidden;
  position: absolute;
  right: $progress-bar-margin;
  bottom: 0;
  left: $progress-bar-margin;
  width: auto;
  height: $text-time-size;
  // background-color: rgba(255,255,0,0.5); // debug
  pointer-events: all; // Make buttons clickable
  opacity: 0;
  background-color: transparent;
  $transition-property: opacity $icon-highlight-time;
  @include transition($transition-property);
}

.vjs-live .vjs-progress-control {
  display: none;
}

// Height and position of progress bars
// Also acts as seek scrubber
.video-js .vjs-progress-holder {
  position: relative;
  width: 100%;
  height: $slider-height;
  margin: 0;
  padding: 0;
  cursor: pointer;
  outline: 0;
  @include background-color-with-alpha($primary-background-color, $primary-background-transparency);
}

// Height and position of drag handle
.video-js .vjs-play-progress {
  height: 100%;
  background-color: $accent-color;
  &:before {
    position: absolute;
    top: ($slider-height * -2) + ($slider-height / 2);
    right: ($slider-height * $slider-handle-height) / -2;
    width: $slider-height * $slider-handle-height;
    height: $slider-height * $slider-handle-height;
    content: "";
    background-color: inherit;
    @include border-radius(50%);
    @include box-shadow(0 0 0.4em rgba(0,0,0,0.4));
    $transition-property: height $slider-handle-resize-time, width $slider-handle-resize-time, right $slider-handle-resize-time, top $slider-handle-resize-time;
    @include transition($transition-property);
  }
}

// Disabled. Not used for Neue theme
.vjs-has-started .vjs-play-progress {
  &:before {
    //
  }
}

// Show progress bar
// Adjust height and position of progress bars and handle on hover
.vjs-has-started .vjs-progress-control {
  visibility: visible;
  opacity: 1;
  &:hover {
    // Progress bars hover
    .vjs-progress-holder {
      height: $slider-height * $slider-height-increase;
    }
    // Handle hover
    .vjs-play-progress:before {
      top: (($slider-height * $slider-handle-height-increase) / -2) + ($slider-height * $slider-height-increase / 2); // bar vertical center - handle radius
      right: ($slider-height * $slider-handle-height-increase) / -2; // handle radius
      width: $slider-height * $slider-handle-height-increase;
      height: $slider-height * $slider-handle-height-increase;
    }
  }
}

// Buffer
.video-js .vjs-load-progress {
  height: 100%;
  @include background-color-with-alpha($accent-color, $primary-background-transparency);
}

// Current time tooltip
.video-js .vjs-progress-control:hover .vjs-time-tooltip,
.video-js .vjs-progress-control:hover .vjs-mouse-display:after,
.video-js .vjs-progress-control:hover .vjs-play-progress:after {
  display: none;
}

// .vjs-play-progress / PlayProgressBar and .vjs-load-progress / LoadProgressBar
//
// These are bars that appear within the progress control to communicate the
// amount of media that has played back and the amount of media that has
// loaded, respectively.
.video-js .vjs-progress-holder .vjs-play-progress,
.video-js .vjs-progress-holder .vjs-load-progress,
.video-js .vjs-progress-holder .vjs-load-progress div {
  display: block;
  position: absolute;
  top: 0;
  // Needed for IE6
  left: 0;
  // updated by javascript during playback
  width: 0;
  height: 100%;
  margin: 0;
  padding: 0;
}

// Graphic under mouse when over progress bar
// Not used for Neue theme
/*
.video-js .vjs-mouse-display {
    display: none;
    @extend .vjs-icon-circle;
    &:before {
        display: none;
    }
}
*/
// Current Time "tooltip"
// By default this is hidden and only shown when hovering over the progress control

// Not used for Neue theme
.video-js .vjs-time-tooltip,
.video-js .vjs-mouse-display:after,
.video-js .vjs-play-progress:after {
  display: none;
  /*
  visibility: hidden;
  position: absolute;
  top: -2em;
  right: -1.5em;
  font-size: $text-time-size;
  content: attr(data-current-time);
  pointer-events: none;
  color: $primary-foreground-color;
  text-shadow: $text-time-shadow;
  */
}

.video-js .vjs-time-tooltip,
.video-js .vjs-play-progress:before,
.video-js .vjs-play-progress:after {
  //z-index: 1;
}

.video-js .vjs-progress-control .vjs-keep-tooltips-inside:after {
  display: none;
}

// These child elements of the load progress bar are not used for VideoJS Neue theme

// there are child elements of the load progress bar that represent the
// specific time ranges that have been buffered
.video-js .vjs-load-progress div {
  /*
  // For IE8 we'll lighten the color
  background: lighten($menu-background-color, 50%);
  // Otherwise we'll rely on stacked opacities
  background: rgba($menu-background-color, 0.75);
  */
}

.video-js.vjs-no-flex .vjs-progress-control {
  width: auto;
}

// Graphic under mouse when over progress bar
// .vjs-time-tooltip is not used for VideoJS Neue theme

.video-js .vjs-time-tooltip {
  display: none;
  /*
  display: inline-block;
  position: relative;
  right: -1.9em;
  float: right;
  height: 2.4em;

  // The font-size should translate to a consistent 10px for time tooltips in
  // all states. This is tricky because the .vjs-progress-holder element
  // changes its font-size when the .vjs-progress-control is hovered.
  font-size: 1em;
  padding: 6px 8px 8px 8px;
  pointer-events: none;
  position: relative;
  top: -3.4em;
  visibility: hidden;
  z-index: 1;
  */
}

.video-js .vjs-progress-holder:focus .vjs-time-tooltip {
  display: none;
}

.video-js .vjs-progress-control:hover .vjs-time-tooltip,
.video-js .vjs-progress-control:hover .vjs-progress-holder:focus .vjs-time-tooltip {
  display: none;

  // Ensure that we maintain a font-size of ~10px.
  // font-size: 0.6em;
  // visibility: visible;
}

.video-js .vjs-progress-control.disabled:hover .vjs-time-tooltip {
  // font-size: 1em;
}

// .vjs-mouse-display / MouseTimeDisplay are not used for VideoJS Neue theme
//
// This element tracks the mouse position along the progress control and
// includes a tooltip, which displays the time at that point in the media.

.video-js .vjs-progress-control .vjs-mouse-display {
  display: none;
  /*
  position: absolute;
  z-index: 1;
  width: 1px;
  height: 100%;
  background-color: #000;
  */
}

.vjs-no-flex .vjs-progress-control .vjs-mouse-display {
  // z-index: 0;
}

.video-js .vjs-progress-control:hover .vjs-mouse-display {
  display: none;
}

.video-js.vjs-user-inactive .vjs-progress-control .vjs-mouse-display {
  display: none;
  /*
  visibility: hidden;
  opacity: 0;
  $trans: visibility 1.0s, opacity 1.0s;
  @include transition($trans);
  */
}

.video-js.vjs-user-inactive.vjs-no-flex .vjs-progress-control .vjs-mouse-display {
  display: none;
}

.vjs-mouse-display .vjs-time-tooltip {
  /*
  color: #fff;
  @include background-color-with-alpha(#000, 0.8);
  */
}
