// main: ../video-js.scss

// North America uses 'CC' icon
.video-js:lang(en) .vjs-subs-caps-button,
.video-js:lang(fr-CA) .vjs-subs-caps-button {
  span.vjs-icon-placeholder {
    display: block;
    position: relative; // Required for positioning of pseudo content
    width: 100%;
    height: 100%;
    background-size: contain;
    @extend .icon-closed-captions;
    &:before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      content: "";
      opacity: 0;
      @extend .icon-closed-captions-highlight;
      @include transition(opacity $icon-unhighlight-time);
    }
    &:hover {
      &:before {
        opacity: 1;
        @include transition(opacity $icon-highlight-time);
      }
    }
  }
}

// ROW uses 'subtitles'
// Double selector because @extend puts these rules above the captions icon
.video-js .vjs-subs-caps-button,
.video-js.video-js:lang(en-GB) .vjs-subs-caps-button,
.video-js.video-js:lang(en-IE) .vjs-subs-caps-button,
.video-js.video-js:lang(en-AU) .vjs-subs-caps-button,
.video-js.video-js:lang(en-NZ) .vjs-subs-caps-button {
  span.vjs-icon-placeholder {
    display: block;
    position: relative; // Required for positioning of pseudo content
    width: 100%;
    height: 100%;
    background-size: contain;
    @extend .icon-closed-captions;
    &:before {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      content: "";
      opacity: 0;
      @extend .icon-closed-captions-highlight;
      @include transition(opacity $icon-unhighlight-time);
    }
    &:hover {
      &:before {
        opacity: 1;
        @include transition(opacity $icon-highlight-time);
      }
    }
  }
}

/*
 * Not used for AV Neue theme
 *
.video-js .vjs-subs-caps-button + .vjs-menu .vjs-captions-menu-item .vjs-menu-item-text .vjs-icon-placeholder {
  vertical-align: middle;
  display: inline-block;
  margin-bottom: -0.1em;
}
*/

.video-js .vjs-subs-caps-button + .vjs-menu .vjs-captions-menu-item .vjs-menu-item-text:before {
  // Not used for AV Neue theme
}
