.video-js .vjs-subtitles-button {
  position: relative; // Required for positioning of pseudo content
  background-size: contain;
  @extend .icon-subtitles;
  $transition-property: opacity $icon-highlight-time;
  @include transition($transition-property);
  &:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    content: "";
    opacity: 0;
    @extend .icon-subtitles-highlight;
    $transition-property: opacity $icon-highlight-time;
    @include transition($transition-property);
  }
  &:hover {
    &:before {
      opacity: 1;
    }
  }
}
