.video-js .vjs-subtitles-button {
  position: relative; // Required for positioning of pseudo content
  @extend .icon-subtitles;
  background-size: contain;
  @include transition(opacity 0.5s);
  &:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: inherit;
    height: inherit;
    opacity: 0;
    @extend .icon-subtitles-highlight;
    @include transition(opacity 0.5s);
  }
  &:hover{
    @include transition(opacity 0.5s);
    &:before{
      opacity: 1;
      @include transition(opacity 0.5s);
    }
  }
}
