// main: ../video-js.scss

.icon-big-play {
  // 64px
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3e%3ccircle cx='32' cy='32' r='32' opacity='0.1'/%3e%3cpath fill='%23e6e6e6' d='M24.49 20.73v22.54a1 1 0 0 0 1.5.86l19.52-11.26a1 1 0 0 0 0-1.74L26 19.87a1 1 0 0 0-1.51.86z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center center;
}


.icon-big-play-highlight {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3e%3cpath fill='%23fff' d='M24.49 20.73v22.54a1 1 0 0 0 1.5.86l19.52-11.26a1 1 0 0 0 0-1.74L26 19.87a1 1 0 0 0-1.51.86z'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-position: center center;
}

.icon-chapters {
  // 24px
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 18'%3E%3Cpath fill='%23e6e6e6' d='M14 18h10v-7H14v7zm2-5h6v3h-6v-3z'/%3E%3Cpath fill='%23e6e6e6' d='M0 7h10V0H0v7zm2-5h6v3H2V2z'/%3E%3Cpath fill='%23e6e6e6' d='M0 18h10v-7H0v7zm2-5h6v3H2v-3z'/%3E%3Cpath fill='%23e6e6e6' d='M14 0v7h10V0H14zm8 5h-6V2h6v3z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left center;
  @include filter($filter-drop-shadow);
}

.icon-chapters-highlight {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 18'%3E%3Cpath fill='%23ffffff' d='M14 18h10v-7H14v7zm2-5h6v3h-6v-3z'/%3E%3Cpath fill='%23ffffff' d='M0 7h10V0H0v7zm2-5h6v3H2V2z'/%3E%3Cpath fill='%23ffffff' d='M0 18h10v-7H0v7zm2-5h6v3H2v-3z'/%3E%3Cpath fill='%23ffffff' d='M14 0v7h10V0H14zm8 5h-6V2h6v3z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left center;
}

.icon-close {
  // 24px
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3E%3Cpath fill='%23e6e6e6' d='M1.927 14.657L14.655 1.929l1.414 1.414L3.341 16.071z'/%3E%3Cpath fill='%23e6e6e6' d='M14.657 16.073L1.929 3.345l1.414-1.414 12.728 12.728z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left center;
  @include filter($filter-drop-shadow);
}

.icon-close-highlight {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 18 18'%3E%3Cpath fill='%23ffffff' d='M1.927 14.657L14.655 1.929l1.414 1.414L3.341 16.071z'/%3E%3Cpath fill='%23ffffff' d='M14.657 16.073L1.929 3.345l1.414-1.414 12.728 12.728z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left center;
}

.icon-closed-captions {
  // 24px
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 18'%3E%3Cpath fill='%23e6e6e6' d='M23 18H1a1 1 0 0 1-1-1V1a1 1 0 0 1 1-1h22a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1zm-1-2V2H2v14h20z'/%3E%3Cpath fill='%23e6e6e6' d='M8 12h8v2H8z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left center;
  @include filter($filter-drop-shadow);
}

.icon-closed-captions-highlight {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 18'%3E%3Cpath fill='%23ffffff' d='M23 18H1a1 1 0 0 1-1-1V1a1 1 0 0 1 1-1h22a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1zm-1-2V2H2v14h20z'/%3E%3Cpath fill='%23ffffff' d='M8 12h8v2H8z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left center;
}

.icon-descriptions {
  // 24px
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 18'%3E%3Cpath fill='%23e6e6e6' d='M1 15h11v2H1z'/%3E%3Cpath fill='%23e6e6e6' d='M1 8h22v2H1z'/%3E%3Cpath fill='%23e6e6e6' d='M1 1h22v2H1z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left center;
  @include filter($filter-drop-shadow);
}

.icon-descriptions-highlight {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 18'%3E%3Cpath fill='%23ffffff' d='M1 15h11v2H1z'/%3E%3Cpath fill='%23ffffff' d='M1 8h22v2H1z'/%3E%3Cpath fill='%23ffffff' d='M1 1h22v2H1z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left center;
}

.icon-fullscreen-enter {
  // 24px
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 18'%3E%3Cpath fill='%23e6e6e6' d='M22 12v4H2V2h10V0H1a1 1 0 0 0-1 1v16a1 1 0 0 0 1 1h22a1 1 0 0 0 1-1v-5h-2z'/%3E%3Cpath fill='%23e6e6e6' d='M15 0v2h5.59L15 7.59 16.41 9 22 3.41V9h2V0h-9'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left center;
  @include filter($filter-drop-shadow); // Prevents bad cropping in small windows
}

.icon-fullscreen-enter-highlight {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 18'%3E%3Cpath fill='%23ffffff' d='M22 12v4H2V2h10V0H1a1 1 0 0 0-1 1v16a1 1 0 0 0 1 1h22a1 1 0 0 0 1-1v-5h-2z'/%3E%3Cpath fill='%23ffffff' d='M15 0v2h5.59L15 7.59 16.41 9 22 3.41V9h2V0h-9'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left center; // Prevents bad cropping in small windows
}

.icon-fullscreen-exit {
  // 24px
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 18'%3E%3Cpath fill='%23e6e6e6' d='M22 12v4H2V2h10V0H1a1 1 0 0 0-1 1v16a1 1 0 0 0 1 1h22a1 1 0 0 0 1-1v-5h-2z'/%3E%3Cpath fill='%23e6e6e6' d='M24 9V7h-5.59L24 1.41 22.59 0 17 5.59V0h-2v9h9'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center center;
  @include filter($filter-drop-shadow);
}

.icon-fullscreen-exit-highlight {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 18'%3E%3Cpath fill='%23ffffff' d='M22 12v4H2V2h10V0H1a1 1 0 0 0-1 1v16a1 1 0 0 0 1 1h22a1 1 0 0 0 1-1v-5h-2z'/%3E%3Cpath fill='%23ffffff' d='M24 9V7h-5.59L24 1.41 22.59 0 17 5.59V0h-2v9h9'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center center;
}

.icon-mute {
  // 24px
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 18'%3E%3Crect x='1' y='7' width='2' height='4' fill='%23e6e6e6'/%3E%3Crect x='6' y='7' width='2' height='4' fill='%23e6e6e6'/%3E%3Crect x='11' y='7' width='2' height='4' fill='%23e6e6e6'/%3E%3Crect x='16' y='7' width='2' height='4' fill='%23e6e6e6'/%3E%3Crect x='21' y='7' width='2' height='4' fill='%23e6e6e6'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left center;
  @include filter($filter-drop-shadow);
}

.icon-mute-highlight {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 18'%3E%3Crect x='1' y='7' width='2' height='4' fill='%23ffffff'/%3E%3Crect x='6' y='7' width='2' height='4' fill='%23ffffff'/%3E%3Crect x='11' y='7' width='2' height='4' fill='%23ffffff'/%3E%3Crect x='16' y='7' width='2' height='4' fill='%23ffffff'/%3E%3Crect x='21' y='7' width='2' height='4' fill='%23ffffff'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left center;
}

.icon-menu {
  // 24px
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 18'%3E%3Cpath fill='%23e6e6e6' d='M1 15h22v2H1z'/%3E%3Cpath fill='%23e6e6e6' d='M1 8h22v2H1z'/%3E%3Cpath fill='%23e6e6e6' d='M1 1h22v2H1z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left center;
  @include filter($filter-drop-shadow);
}

.icon-menu-highlight {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 18'%3E%3Cpath fill='%23ffffff' d='M1 15h22v2H1z'/%3E%3Cpath fill='%23ffffff' d='M1 8h22v2H1z'/%3E%3Cpath fill='%23ffffff' d='M1 1h22v2H1z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left center;
}

.icon-pause {
  // 64px
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3e%3ccircle cx='32' cy='32' r='32' opacity='.1'/%3e%3crect width='8' height='24' x='20' y='20' fill='%23e6e6e6'/%3e%3crect width='8' height='24' x='36' y='20' fill='%23e6e6e6'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-position: left center;
}

.icon-pause-highlight {
  // 64px
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3e%3crect width='8' height='24' x='20' y='20' fill='%23fff'/%3e%3crect width='8' height='24' x='36' y='20' fill='%23fff'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
  background-position: left center;
}

.icon-subtitles {
  // 24px
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 18'%3E%3Cpath fill='%23e6e6e6' d='M23 18H1a1 1 0 0 1-1-1V1a1 1 0 0 1 1-1h22a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1zm-1-2V2H2v14h20z'/%3E%3Cpath fill='%23e6e6e6' d='M4 12h16v2H4z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left center;
  @include filter($filter-drop-shadow);
}

.icon-subtitles-highlight {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 18'%3E%3Cpath fill='%23ffffff' d='M23 18H1a1 1 0 0 1-1-1V1a1 1 0 0 1 1-1h22a1 1 0 0 1 1 1v16a1 1 0 0 1-1 1zm-1-2V2H2v14h20z'/%3E%3Cpath fill='%23ffffff' d='M4 12h16v2H4z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left center;
}

.icon-volume {
  // 24px
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 18'%3E%3Cpath fill='%23e6e6e6' d='M1 0h2v18H1z'/%3E%3Cpath fill='%23e6e6e6' d='M6 2h2v14H6z'/%3E%3Cpath fill='%23e6e6e6' d='M11 0h2v18h-2z'/%3E%3Cpath fill='%23e6e6e6' d='M16 2h2v14h-2z'/%3E%3Cpath fill='%23e6e6e6' d='M21 0h2v18h-2z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left center;
  @include filter($filter-drop-shadow);
}

.icon-volume-highlight {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 18'%3E%3Cpath fill='%23ffffff' d='M1 0h2v18H1z'/%3E%3Cpath fill='%23ffffff' d='M6 2h2v14H6z'/%3E%3Cpath fill='%23ffffff' d='M11 0h2v18h-2z'/%3E%3Cpath fill='%23ffffff' d='M16 2h2v14h-2z'/%3E%3Cpath fill='%23ffffff' d='M21 0h2v18h-2z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: left center;
}
