// Emulated tracks
.vjs-text-track-display {
  position: absolute;
  bottom: 4rem;
  left: 0;
  right: 0;
  top: 0;
  pointer-events: none;
}

// Move captions down when controls aren't being shown
.video-js.vjs-user-inactive.vjs-playing .vjs-text-track-display {
  bottom: 1.6rem;
}

// Individual tracks
.video-js .vjs-text-track {
  font-family: $text-font-family;
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 0;
  color: #666;
  background-color: #ffff00;
}

.vjs-subtitles { color: #fff; } // Subtitles are white
.vjs-captions { color: #666; } // Captions are yellow
.vjs-tt-cue { display: block; }

// Native tracks
video::-webkit-media-text-track-display {
  @include transform(translateY(-5.4rem));
}

// Move captions down when controls aren't being shown
.video-js.vjs-user-inactive.vjs-playing video::-webkit-media-text-track-display {
  @include transform(translateY(-3.2rem));
}

// Neue native captions
::cue {
  font-family: $text-font-family;
  font-size: 1.6rem;
  color: #666;
  background-color: #ffff00;
}