.video-js .vjs-time-control {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: $text-time-width;
  height: 1em;
  font-size: $text-time-size;
  line-height: 1em;
  text-shadow: $text-time-shadow;
}

.vjs-live .vjs-time-control {
  display: none;
}

// We need the extra specificity that referencing .vjs-no-flex provides.
.video-js .vjs-current-time,
.vjs-no-flex .vjs-current-time {
  justify-content: flex-start;
  left: 0;
}

.video-js .vjs-duration,
.vjs-no-flex .vjs-duration {
  justify-content: flex-end;
  right: 0;
}

// Not used for Neue theme but hidden and centered
.video-js .vjs-remaining-time {
  display: none;
  margin: 0 auto;
  background-color: #ff0; // Color for debug purposes
}

// Hidden - not used for Neue theme 
.vjs-time-divider {
  visibility: hidden; // Can't use display none on a flex item
  // debug colour
  // background-color: #00ff00;
}

.vjs-live .vjs-time-divider {
  // Already the default, but we want to ensure when the player is live
  // this hides in the same way as the other time controls for other skins
  display: none;
}
