.video-js .vjs-time-control {
  position: absolute;
  bottom:  $text-time-size * -0.5; // Half font size
  width: $time-width;
  font-size: $text-time-size;
  line-height: $text-time-size;
  text-shadow: (0 0 1px rgba(0,0,0,0.6));
}

.vjs-live .vjs-time-control {
  display: none;
}

// We need the extra specificity that referencing .vjs-no-flex provides.
.video-js .vjs-current-time,
.vjs-no-flex .vjs-current-time {
  left: 0;
  text-align: left;
}

.video-js .vjs-duration,
.vjs-no-flex .vjs-duration {
  right: 0;
  text-align: right;
}

// Not used for Neue theme but hidden and centered
.video-js .vjs-remaining-time {
  display: none;
  margin: 0 auto;
  background-color: #ffff00; // Color for debug purposes
}

// Not used for Neue theme but hidden and centered
.vjs-time-divider {
  display: none;
  margin: 0 auto;
  background-color: #00ff00; // Color for debug purposes
}

.vjs-live .vjs-time-divider {
  // Already the default, but we want to ensure when the player is live
  // this hides in the same way as the other time controls for other skins
  display: none;
}
