.video-js .vjs-control-bar .vjs-mute-control {
  // Overwrite control buttons right hand margin for volume slider
  margin-right: 0;
}

.video-js .vjs-mute-control,
.video-js .vjs-volume-menu-button {
  overflow: inherit;
  cursor: pointer;
  background-size: contain;
  @include flex(none);
  @extend .icon-volume;
  &:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    content: "";
    opacity: 0;
    @extend .icon-volume-highlight;
    $transition-property: opacity $icon-highlight-time;
    @include transition($transition-property);
  }
  &:hover {
    &:before {
      opacity: 1;
    }
  }
}

.video-js .vjs-mute-control.vjs-vol-0,
.video-js .vjs-volume-menu-button.vjs-vol-0 {
  background-size: contain;
  @extend .icon-mute;
  &:before {
    background-size: contain;
    @extend .icon-mute-highlight;
  }
}
.video-js .vjs-mute-control.vjs-vol-1,
.video-js .vjs-volume-menu-button.vjs-vol-1 {
  background-size: contain;
  @extend .icon-volume;
}
.video-js .vjs-mute-control.vjs-vol-2,
.video-js .vjs-volume-menu-button.vjs-vol-2 {
  background-size: contain;
  @extend .icon-volume;
}

.video-js .vjs-volume-control {
  cursor: pointer;
  // margin-right: 1em; // Redundant VideoJS style
  @include display-flex;
}

.video-js .vjs-volume-panel .vjs-volume-control {
  visibility: visible;
  opacity: 0;
  $transition-property: visibility $icon-fade-time, opacity $icon-fade-time;
  @include transition($transition-property);
  // We do not slide volume slider into view for VideJS Neue theme
  // width: 1px;
  // height: 1px;
  // margin-left: -1px;
}

.video-js .vjs-volume-panel .vjs-volume-control.vjs-volume-horizontal {
  width: $volume-menu-width;
}

.vjs-no-flex .vjs-volume-panel .vjs-volume-control.vjs-volume-vertical {
  height: $volume-menu-height;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  & .vjs-volume-bar,
  & .vjs-volume-level {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  }
}

.video-js .vjs-volume-panel {
  &:hover  .vjs-volume-control,
  &:active .vjs-volume-control,
  &:focus  .vjs-volume-control,
  & .vjs-volume-control:hover  ,
  & .vjs-volume-control:active ,
  & .vjs-volume-control:focus  ,
  & .vjs-mute-control:hover  ~ .vjs-volume-control,
  & .vjs-mute-control:active ~ .vjs-volume-control,
  & .vjs-mute-control:focus  ~ .vjs-volume-control,
  & .vjs-volume-control.vjs-slider-active {

    // Display VideoJS Neue Volume Slider
    visibility: visible;
    opacity: 1;
    position: relative;

    // Horizontal attributes
    &.vjs-volume-horizontal {
      // We do not slide volume slider into view for VideJS Neue theme
      // width: 5em;
      // height: 3em;
    }

    // Vertical attributes
    &.vjs-volume-vertical {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      & .vjs-volume-bar,
      & .vjs-volume-level {
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      }
    }
  }
  /*
   * Not required for VideoJS Neue theme
  &.vjs-volume-panel-horizontal {
    &:hover,
    &:focus,
    &:active,
    &.vjs-slider-active {
      // We do not slide volume slider into view for VideJS Neue theme
      // width: 9em;
      background-color: #ffff66;
      @include transition(width 0.1s);
    }
  }
  */
}

// Increase Volume Slider Handle size on hover
.video-js .vjs-volume-panel .vjs-volume-control {
  &:hover,
  &:focus,
  &:active {
    .vjs-volume-bar .vjs-volume-level:before  {
      // We do not slide volume slider into view for VideJS Neue theme
      width: $slider-height * $slider-handle-height-increase;
      height: $slider-height * $slider-handle-height-increase;
    }
  }
}

// Position Volume Slider Handle for horizontal menus
.video-js .vjs-volume-panel .vjs-volume-control.vjs-volume-horizontal {
  &:hover,
  &:focus,
  &:active {
    .vjs-volume-bar .vjs-volume-level:before  {
      top: (($slider-height * $slider-handle-height-increase) / -2) + ($slider-height * $slider-height-increase / 2); // bar vertical center - handle radius
      right: ($slider-height * $slider-handle-height-increase) / -2; // handle radius
    }
  }
}

// Position Volume Slider Handle for vertical menus
.video-js .vjs-volume-panel .vjs-volume-control.vjs-volume-vertical {
  &:hover,
  &:focus,
  &:active {
    .vjs-volume-bar .vjs-volume-level:before  {
      left: (($slider-height * $slider-handle-height-increase) / -2) + ($slider-height * $slider-height-increase / 2); // bar horizontal center - handle radius
      top: ($slider-height * $slider-handle-height-increase) / -2; // handle radius
    }
  }
}

// Position Volume Slider Handle for vertical menus
.video-js .vjs-volume-panel .vjs-volume-control.vjs-volume-vertical {
  // We do not slide volume slider into view for VideJS Neue theme
}

// Position Volume Slider Handle for horizontal menus
.video-js .vjs-volume-panel .vjs-volume-control.vjs-volume-horizontal {
  // We do not slide volume slider into view for VideJS Neue theme
}

.video-js.vjs-no-flex .vjs-volume-panel .vjs-volume-control.vjs-volume-horizontal {
  // Not changed for VideJS Neue theme
  // width: 5em;
  // height: 3em;

  visibility: visible;
  opacity: 1;
  position: relative;

  @include transition(none);
}

.video-js.vjs-no-flex .vjs-volume-control.vjs-volume-vertical,
.video-js.vjs-no-flex .vjs-volume-panel .vjs-volume-control.vjs-volume-vertical {
  // Not used for VideJS Neue theme
}

.video-js .vjs-volume-panel {
  @include display-flex;
  position: absolute;
  top: 0;
  left: 0;
}

.video-js .vjs-volume-bar {
  // Not used for VideoJS Neue theme
}

.vjs-volume-bar.vjs-slider-horizontal {
  width: $volume-menu-width;
  height: $slider-height;
  margin: auto 1.6rem;
  background-color: $primary-background-color;
}

.vjs-volume-bar.vjs-slider-vertical {
  display: flex;
  align-items: flex-end;
  width: $slider-height;
  height: $volume-menu-width;
  margin: 1.6rem auto;
  background-color: $primary-background-color;
}

.video-js .vjs-volume-level {
  position: relative;
  background-color: $accent-color;

  // VideoJS Neue Volume handle
  &:before {
    position: absolute;
    width: $slider-height * $slider-handle-height;
    height: $slider-height * $slider-handle-height;
    content: "";
    background-color: inherit;
    @include border-radius(50%);
    // Transition handle size in and out
    $transition-property: height $slider-handle-resize-time, width $slider-handle-resize-time, left $slider-handle-resize-time, right $slider-handle-resize-time, top $slider-handle-resize-time;
    @include transition($transition-property);
  }
}

.vjs-slider-vertical .vjs-volume-level {
  width: $slider-height;
  // Volume handle
  &:before {
    left: ($slider-height * -2) + ($slider-height / 2);
    top: ($slider-height * $slider-handle-height) / -2;
    @include box-shadow(0 0 4px rgba(0,0,0,0.4));
  }
}
.vjs-slider-horizontal .vjs-volume-level {
  height: $slider-height;
  // Volume handle
  &:before {
    top: ($slider-height * -2) + ($slider-height / 2);
    right: ($slider-height * $slider-handle-height) / -2;
    @include box-shadow(0 0 4px rgba(0,0,0,0.4));
  }
}

.video-js .vjs-control-bar .vjs-volume-panel.vjs-volume-panel-horizontal {
  flex-direction: row;
  justify-content: center;
  height: $control-button-height;
}

.video-js .vjs-control-bar .vjs-volume-panel.vjs-volume-panel-vertical {
  flex-direction: column;
  justify-content: center;
  width: $control-button-width;
}

// Assumes volume starts at 1.0.
.vjs-volume-bar.vjs-slider-vertical .vjs-volume-level {
  height: 100%;
}

.vjs-volume-bar.vjs-slider-horizontal .vjs-volume-level {
  width: 100%;
}

// The volume menu button is like menu buttons (captions/subtitles) but works
// a little differently. It needs to be possible to tab to the volume slider
// without hitting space bar on the menu button. To do this we're not using
// display:none to hide the slider menu by default, and instead setting the
// width and height to zero.
.vjs-menu-button-popup.vjs-volume-menu-button .vjs-menu {
  display: block;
  width: 0;
  height: 0;
  border-top-color: transparent;
}

.vjs-menu-button-popup.vjs-volume-menu-button-vertical .vjs-menu {
  top: $control-button-height;
  left: 0;
}
.vjs-menu-button-popup.vjs-volume-menu-button-horizontal .vjs-menu {
  left: -2rem;
}

.vjs-menu-button-popup.vjs-volume-menu-button .vjs-menu-content {
  // Avoids unnecessary scrollbars in the menu content. Primarily noticed in Chrome on Linux.
  overflow-x: hidden;
  overflow-y: hidden;
  width: 0;
  height: 0;
}

.vjs-volume-menu-button-vertical:hover .vjs-menu-content,
.vjs-volume-menu-button-vertical:focus .vjs-menu-content,
.vjs-volume-menu-button-vertical.vjs-slider-active .vjs-menu-content,
.vjs-volume-menu-button-vertical .vjs-lock-showing .vjs-menu-content {
  @include display-flex(flex-end, center);
  width: $control-button-width;
  height: auto;
  background-color: transparent !important;
}

.vjs-volume-menu-button-horizontal:hover .vjs-menu-content,
.vjs-volume-menu-button-horizontal:focus .vjs-menu-content,
.vjs-volume-menu-button-horizontal .vjs-slider-active .vjs-menu-content,
.vjs-volume-menu-button-horizontal .vjs-lock-showing .vjs-menu-content {
  width: auto;
  height: $control-button-height;
}

.vjs-volume-menu-button.vjs-menu-button-inline .vjs-menu-content {
  background-color: transparent !important;
  // An inline volume should never have a menu background color.
  //  This protects it from external changes to background colors.
  @include display-flex(center, flex-start);
}
