.video-js .vjs-mute-control,
.video-js .vjs-volume-menu-button {
  position: absolute;
  top: 0;
  left: 0;
  overflow: inherit;
  cursor: pointer;
  background-size: contain;
  @include flex(none);
  @extend .icon-volume;
  @include transition(all 0.5s);
  &:before {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    content: "";
    opacity: 0;
    @extend .icon-volume-highlight;
    @include transition(opacity 0.5s);
  }
  &:hover {
    @include transition(all 0.5s);
    &:before {
      opacity: 1;
      @include transition(opacity 0.5s);
    }
  }
}

.video-js .vjs-mute-control.vjs-vol-0,
.video-js .vjs-volume-menu-button.vjs-vol-0 {
  background-size: contain;
  @extend .icon-mute;
  &:before {
    background-size: contain;
    @extend .icon-mute-highlight;
  }
}
.video-js .vjs-mute-control.vjs-vol-1,
.video-js .vjs-volume-menu-button.vjs-vol-1 {
  background-size: contain;
  @extend .icon-volume;
}
.video-js .vjs-mute-control.vjs-vol-2,
.video-js .vjs-volume-menu-button.vjs-vol-2 {
  background-size: contain;
  @extend .icon-volume;
}

.video-js .vjs-volume-control {
  width: 5em;
  @include flex(none);
  @include display-flex(center);
}

.video-js .vjs-volume-bar {
  // margin: 1.35rem 0.45rem;
}

.vjs-volume-bar.vjs-slider-horizontal {
  width: $volume-menu-width;
  height: $slider-height;
  margin: auto 1.6rem;
  background-color: $primary-background-color;
}

.vjs-volume-bar.vjs-slider-vertical {
  display: flex;
  align-items: flex-end;
  width: $slider-height;
  height: $volume-menu-width;
  margin: 1.6rem auto;
  background-color: $primary-background-color;
}

.video-js .vjs-volume-level {
  position: relative;
  background-color: $accent-color;

  // Volume handle
  &:before {
    position: absolute;
    width: $slider-height * $slider-handle-height;
    height: $slider-height * $slider-handle-height;
    content: "";
    background-color: inherit;
    @include border-radius(50%);
  }
}

.vjs-slider-vertical .vjs-volume-level {
  width: 0.2em;

  // Volume handle
  &:before {
    top: -0.5rem;
    left: -0.3rem;
    @include box-shadow(0 0 4px rgba(0,0,0,0.4));
  }
}
.vjs-slider-horizontal .vjs-volume-level {
  height: 0.2em;

  // Volume handle
  &:before {
    top: -0.3em;
    right: -0.5em;
    @include box-shadow(0 0 4px rgba(0,0,0,0.4));
  }
}

// Assumes volume starts at 1.0.
.vjs-volume-bar.vjs-slider-vertical .vjs-volume-level {
  height: 100%;
}

.vjs-volume-bar.vjs-slider-horizontal .vjs-volume-level {
  width: 100%;
}

// The volume menu button is like menu buttons (captions/subtitles) but works
// a little differently. It needs to be possible to tab to the volume slider
// without hitting space bar on the menu button. To do this we're not using
// display:none to hide the slider menu by default, and instead setting the
// width and height to zero.
.vjs-menu-button-popup.vjs-volume-menu-button .vjs-menu {
  display: block;
  width: 0;
  height: 0;
  border-top-color: transparent;
}

.vjs-menu-button-popup.vjs-volume-menu-button-vertical .vjs-menu {
  top: $control-button-height;
  left: 0;
}
.vjs-menu-button-popup.vjs-volume-menu-button-horizontal .vjs-menu {
  left: -2rem;
}

.vjs-menu-button-popup.vjs-volume-menu-button .vjs-menu-content {
  // Avoids unnecessary scrollbars in the menu content. Primarily noticed in Chrome on Linux.
  overflow-x: hidden;
  overflow-y: hidden;
  width: 0;
  height: 0;
}

.vjs-volume-menu-button-vertical:hover .vjs-menu-content,
.vjs-volume-menu-button-vertical:focus .vjs-menu-content,
.vjs-volume-menu-button-vertical.vjs-slider-active .vjs-menu-content,
.vjs-volume-menu-button-vertical .vjs-lock-showing .vjs-menu-content {
  @include display-flex(flex-end, center);
  width: $control-button-width;
  height: auto;
  background-color: transparent !important;
}

.vjs-volume-menu-button-horizontal:hover .vjs-menu-content,
.vjs-volume-menu-button-horizontal:focus .vjs-menu-content,
.vjs-volume-menu-button-horizontal .vjs-slider-active .vjs-menu-content,
.vjs-volume-menu-button-horizontal .vjs-lock-showing .vjs-menu-content {
  width: auto;
  height: $control-button-height;
}

.vjs-volume-menu-button.vjs-menu-button-inline .vjs-menu-content {
  background-color: transparent !important;
  // An inline volume should never have a menu background color.
  //  This protects it from external changes to background colors.
  @include display-flex(center, flex-start);
}
