.video-js .vjs-mute-control {
  cursor: pointer;
  @include flex(none);

  & .vjs-icon-placeholder {
    @extend .vjs-icon-volume-high;
  }
}

.video-js .vjs-mute-control.vjs-vol-0 .vjs-icon-placeholder {
  @extend .vjs-icon-volume-mute;
}

.video-js .vjs-mute-control.vjs-vol-1 .vjs-icon-placeholder {
  @extend .vjs-icon-volume-low;
}

.video-js .vjs-mute-control.vjs-vol-2 .vjs-icon-placeholder {
  @extend .vjs-icon-volume-mid;
}

.video-js .vjs-volume-control {
  cursor: pointer;
  // Margin-right is not used for Neue
  @include display-flex;
  align-items: center; // Horizontal and vertical both align center
}

.video-js .vjs-volume-control.vjs-volume-horizontal {
  // This width is not used for Neue
}

.video-js .vjs-volume-panel .vjs-volume-control {
  visibility: visible;
  opacity: 0;
  // These properties are not used for Neue
}

.video-js .vjs-volume-panel {
  // This transition is not used for Neue

  &.vjs-hover .vjs-volume-control,
  &:active .vjs-volume-control,
  &:focus  .vjs-volume-control,
  & .vjs-volume-control:active,
  &.vjs-hover .vjs-mute-control  ~ .vjs-volume-control,
  & .vjs-volume-control.vjs-slider-active {
    visibility: visible;
    opacity: 1;
    position: relative;
  // These transitions are not used for Neue

    &.vjs-volume-horizontal {
      width: $volume-slider-length;
      // These properties are not used for Neue
    }

    &.vjs-volume-vertical {
      height: $volume-slider-length;
      // These properties are not used for Neue
    }
  }

  &.vjs-volume-panel-horizontal {
    &.vjs-hover,
    &:active,
    &.vjs-slider-active {
      // These properties are not used for Neue
    }
    &.vjs-mute-toggle-only {
      width: $control-button-width-4-3;
      // Hide the slider for Neue
      &.vjs-volume-control {
        display: none;
      }
    }
  }
}

.video-js .vjs-volume-panel .vjs-volume-control.vjs-volume-vertical {
  height: $volume-slider-margin; // Minimum height for transition
  width: $control-button-width-4-3;
  padding-block: $volume-slider-margin; // Vertical uses padding (parent)

  $transition-property: height $slider-fade-out-time, opacity $slider-fade-out-time;
  @include transition($transition-property);
}

.video-js .vjs-volume-panel .vjs-volume-control.vjs-volume-horizontal {
  height: $control-button-height;
  width: $volume-slider-margin; // Minimum width for transition
  padding-inline: 0;  // Horizontal uses margin on child
  $transition-property: width $slider-fade-out-time, opacity $slider-fade-out-time;
  @include transition($transition-property);
}

.video-js .vjs-volume-panel {
  @include display-flex;
  order: -1; // Volume is the first component in Neue
  margin-right: auto; // Volume is the only left component in Neue 
}

.video-js .vjs-volume-bar {
  display: flex;
  align-items: center; // Applies to horizontal and vertical
  // This margin is not used for Neue
  background-color: $primary-background-color;
}

.vjs-volume-bar.vjs-slider-horizontal {
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  height: $slider-height;
  margin-block: auto;
  margin-inline: $volume-slider-margin; // Horizontal uses margin (child)
}

.vjs-volume-bar.vjs-slider-vertical {
  flex-direction: column;
  justify-content: flex-end;
  width: $slider-height;
  height: 100%;
  margin-block: 0; // Vertical uses padding on parent
  margin-inline: auto;
}

.video-js .vjs-volume-level {
  display: flex;
  align-items: center;
  // These properties are not used for Neue
  
  background-color: $primary-highlight-color;

  @extend .vjs-icon-circle;
  
  // Volume handle
  &:before {
    position: absolute;
    font-size: 0.9em; // Doing this to match the handle on play progress.
    z-index: 1;
  }
}

.vjs-slider-vertical .vjs-volume-level {
  width: $slider-height;

  // Volume handle
  &:before {
    top: -0.5em;
    left: -0.3em;
    z-index: 1;
  }
}

// Remove content from volume-level when using SVGs.
.vjs-svg-icons-enabled .vjs-volume-level {
  &:before {
    content: none;
  }
}

.vjs-volume-level .vjs-svg-icon {
  display: flex;
  // Absolute position is not used for Neue
  width: $slider-handle-height;
  height: $slider-handle-height;
  pointer-events: none;
  z-index: 1;
  fill: $primary-highlight-color;
  filter: $filter-drop-shadow;
  $transition-property: transform $slider-handle-resize-time;
  @include transition($transition-property);
}

.vjs-slider-horizontal .vjs-volume-level {
  height: $slider-height;

  // Volume handle
  &:before {
    line-height: .35em;
    right: -0.5em;
  }
}

// here
// Update placement of circle icon when using SVG icons
.vjs-slider-horizontal .vjs-volume-level .vjs-svg-icon {
  right: $slider-handle-height * -0.5;
  // Transform is not used for Neue
}

.vjs-slider-vertical .vjs-volume-level .vjs-svg-icon {
  top: $slider-handle-height * -0.5;
  // Transform is not used for Neue
}

.video-js .vjs-volume-panel.vjs-volume-panel-horizontal {
  flex-direction: row;
  $transition-property: opacity $slider-fade-out-time, width $slider-fade-out-time;
  @include transition($transition-property);
}

.video-js .vjs-volume-panel.vjs-volume-panel-vertical {
  // Width is not used for Neue
  flex-direction: column;
  $transition-property: opacity $slider-fade-out-time, height $slider-fade-out-time;
  @include transition($transition-property);
}

// Assumes volume starts at 1.0.
.vjs-volume-bar.vjs-slider-vertical .vjs-volume-level {
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.vjs-volume-bar.vjs-slider-horizontal .vjs-volume-level {
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.video-js .vjs-volume-vertical {
  // These properties are not used for Neue
}

.video-js .vjs-volume-horizontal .vjs-menu {
  left: -2em;
}

// .vjs-volume-tooltip
//
// These elements are displayed above the volume bar.
//
// By default, they are hidden and only shown when hovering over the volume
// control.
.video-js .vjs-volume-tooltip {
  @include background-color-with-alpha(#fff, 0.8);
  @include border-radius(0.3em);
  color: #000;
  float: right;
  font-family: $text-font-family;
  font-size: 1em;
  padding: 6px 8px 8px 8px;
  pointer-events: none;
  position: absolute;
  top: -3.4em;
  visibility: hidden;
  z-index: 1;
}

.video-js .vjs-volume-control:hover .vjs-volume-tooltip,
.video-js .vjs-volume-control:hover .vjs-progress-holder:focus .vjs-volume-tooltip {
  display: none; // Hide all tooltips for Neue
  font-size: 1em;
  visibility: visible;
}

.video-js .vjs-volume-vertical:hover .vjs-volume-tooltip,
.video-js .vjs-volume-vertical:hover .vjs-progress-holder:focus .vjs-volume-tooltip {
  left: 1em;
  top: -12px;
}

.video-js .vjs-volume-control.disabled:hover .vjs-volume-tooltip {
  font-size: 1em;
}

// .vjs-mouse-display / MouseVolumeLevelDisplay
//
// This element tracks the mouse position along the volume control and
// includes a tooltip, which displays the volume level.
.video-js .vjs-volume-control .vjs-mouse-display {
  display: none;
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #000;
  z-index: 1;
}

.video-js .vjs-volume-horizontal .vjs-mouse-display {
  width: 1px;
  height: 100%;
}

.video-js .vjs-volume-control:hover .vjs-mouse-display {
  display: none; // Hide all mouse display for Neue
}

.video-js.vjs-user-inactive .vjs-volume-control .vjs-mouse-display {
  visibility: hidden;
  opacity: 0;
  $trans: visibility 1.0s, opacity 1.0s;
  @include transition($trans);
}

.vjs-mouse-display .vjs-volume-tooltip {
  color: #fff;
  @include background-color-with-alpha(#000, 0.8);
}

// Scale slider handle on hover
.video-js .vjs-volume-panel .vjs-volume-control {
  &:hover,
  &:focus,
  &:active {
    .vjs-volume-bar .vjs-volume-level .vjs-svg-icon {
      transform-origin: center;
      transform: scale($slider-handle-height-scale);
    }
  }
}

// Highlight button when inside volume panel
.video-js .vjs-volume-panel {
  &.vjs-hover,
  &:active,
  &:focus {
    .vjs-mute-control .vjs-svg-icon {
      fill: $primary-highlight-color;
    }
  }
}
