.vjs-menu-button {
  cursor: pointer;
}

// Change cursor back to default if the menu button is disabled
.vjs-menu-button.vjs-disabled {
  cursor: default;
}

// prevent menus from opening while disabled
.vjs-workinghover .vjs-menu-button.vjs-disabled:hover .vjs-menu {
  display: none;
}

.vjs-menu .vjs-menu-content {
  margin: 0;
  padding: 0;
}

// prevent menus from opening while scrubbing (FF, IE)
.vjs-scrubbing .vjs-menu-button:hover .vjs-menu {
  display: none;
}

.vjs-menu li,
.vjs-menu li.vjs-menu-title {
  margin: 0;
  padding: 0rem 1.2em;
  list-style: none;
  font-size: 1.2em;
  line-height: 2;
  text-transform: capitalize;
  color: $menu-text-color;
}

.vjs-menu li:focus,
.vjs-menu li:hover {
  outline: 0;
  background-color: $menu-background-color;
}

.vjs-menu li.vjs-selected,
.vjs-menu li.vjs-selected:focus,
.vjs-menu li.vjs-selected:hover {
  color: $menu-text-color-highlight;
  background-color: $menu-background-color;
}

.vjs-menu li.vjs-menu-title {
  cursor: default;
  text-transform: uppercase;
}
