.vjs-menu-button {
  cursor: pointer;
}

// divs but not child buttons with the same class
div.vjs-menu-button {
  position: relative; // Required for child absolute positioning
}

// Change cursor back to default if the menu button is disabled
.vjs-menu-button.vjs-disabled {
  cursor: default;
}

// prevent menus from opening while disabled
.vjs-workinghover .vjs-menu-button.vjs-disabled:hover .vjs-menu {
  display: none;
}

.vjs-menu .vjs-menu-content {
  margin: 0;
  padding: 0;
  display: block;
  padding: 0;
  margin: 0;
  font-family: $text-font-family;

  // This allows scrolling of content if need be.
  overflow: auto;

  // When combined with `overflow: auto;`, this fixes gaps left by
  // scrollbars in older IE versions.
  box-sizing: content-box;
}

// Reset box-sizing inside the menu.
.vjs-menu .vjs-menu-content > * {
  box-sizing: border-box;
}

// prevent menus from opening while scrubbing (FF, IE)
.vjs-scrubbing .vjs-menu-button:hover .vjs-menu {
  display: none;
}

.vjs-menu li,
.vjs-menu li.vjs-menu-title {
  margin: 0;
  padding: 0rem 1.2em;
  list-style: none;
  font-size: 1.2em;
  line-height: 2;
  text-transform: capitalize;
  color: $menu-text-color;
}

.vjs-menu li.vjs-menu-item:focus,
.vjs-menu li.vjs-menu-item:hover {
  outline: 0;
}

.vjs-menu li.vjs-selected,
.vjs-menu li.vjs-selected:focus,
.vjs-menu li.vjs-selected:hover {
  color: $menu-text-color-highlight;
  background-color: $menu-background-color;
}

.vjs-menu li.vjs-menu-title {
  cursor: default;
  text-transform: uppercase;
  background-color: transparent;
}
