.vjs-menu-button-popup .vjs-menu {
  display: none;
  position: absolute;
  top: $control-button-height + 0.8em;
  right: 0;
  white-space: nowrap;
  // width: $menu-popup-width;
  border-top-color: rgba($primary-background-color, 1); // Same as ul background
}

// Button Pop-up Menu
.vjs-menu-button-popup .vjs-menu .vjs-menu-content {
  // position: absolute;
  // width: 100%;
  @include background-color-with-alpha($primary-background-color, 1);
}

.vjs-menu-button-popup .vjs-menu .vjs-lock-showing {
  display: block;
}

// show menus when hovering over button
.vjs-workinghover .vjs-menu-button-popup:hover .vjs-menu {
  // display: block; // Disabled for Neue theme
}
