// main: video-js.scss

// Global
$text-font-family: Consolas, Lucida Console, Lucida Sans Typewriter, monospace !default;
$text-em-size: 10px;

// Colors
$accent-color: #e50000;
$primary-foreground-color: #e6e6e6 !default;
$primary-background-color: #1a1a1a !default;
$menu-text-color: #999;
$menu-text-color-highlight: #ccc;
$menu-background-color-highlight: #666 !default;
$menu-background-color: #333 !default; // menus

// Transparency
$primary-background-transparency: 0.4 !default; // Used for progress holder
$secondary-background-transparency: 0.4 !default; // Not used for AV Neue theme

// Filters
$filter-drop-shadow: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.6));

// Progress and sliders
$slider-height: 0.2em; // Slider height
$slider-height-increase: 1; // Hover height is this factor bigger than $slider-height
$slider-handle-height: 4; // Handle height is this factor bigger than $slider-height
$slider-handle-height-increase: 8; // Handle height is this factor bigger than $slider-height on hover
$slider-hover-height: 8; // Height of progress bar hover area
$progress-bar-margin: 5.4em; // Side margins for progress bar

// Big play button
// Using the '--' naming for component-specific styles
$big-play-button--width: 6.4em !default;
$big-play-button--height: 6.4em !default;

// Loading vjs-spinner-fade
$loading-spinner-size: 6.4em;
$loading-spinner-stroke: 0.4em;


// Controls
$controls-margin: 2.4em;
$control-button-width: 2.4em;
$control-button-height: 1.8em;
$control-button-spacing: 2.4em;

// Volume
$volume-menu-width: 16em;
$volume-menu-height: 16em;

$text-time-size: 1.4em;
$text-time-shadow: (0 0 1px rgba(0,0,0,0.6));
$text-time-width: 5em;

// Modal and error
$modal-padding: 5em;
$modal-text-size: 1.6em;
$modal-text-line-height: 1.5;

// Menus
$menu-popup-width: 16em;

// Animations
$icon-highlight-time: 0ms;
$icon-unhighlight-time: 1000ms;
$icon-fade-in-time: 0ms;
$icon-fade-out-time: 1000ms;
$slider-handle-resize-time: 500ms;
