// Progress and volume sliders
$slider-height: 0.2rem; // Slider height
$slider-height-increase: 1; // Hover height is this factor bigger than $slider-height
$slider-handle-height: 4; // Handle height is this factor bigger than $slider-height
$slider-handle-height-increase: 8; // Handle height is this factor bigger than $slider-height on hover
$slider-hover-height: 8; // Height of progress bar hover area
$progress-bar-margin: 5.4rem;

// Colors
$accent-color: #e50000;
$primary-foreground-color: #fff !default;
$primary-background-color: #1a1a1a !default;
$menu-text-color: #999;
$menu-text-color-highlight: #ccc;
$menu-background-color-hgihlight: #666 !default;
$menu-background-color: #333 !default; // menus

// Filters
$filter-drop-shadow: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.4));

// Transparency
$primary-background-transparency: 1 !default;
$secondary-background-transparency: 1 !default; // not used

// Big play button
$big-play-button--width: 6.4rem !default;
$big-play-button--height: 6.4rem !default;

// Controls
$controls-margin: 2.4rem;
$control-button-width: 2.4rem; // Also height as Neue buttons are 24px square
$control-button-spacing: 1.6rem;
$menu-width: 8rem;

// Time display
$text-font-family: Consolas, Lucida Console, Lucida Sans Typewriter, monospace !default;
$text-time-size: 1.2rem;
$time-width: 5rem;
