// Progress and volume sliders
$slider-height: 0.2rem; // Slider height
$slider-height-increase: 1; // Hover height is this factor bigger than $slider-height
$slider-handle-height: 4; // Handle height is this factor bigger than $slider-height
$slider-handle-height-increase: 8; // Handle height is this factor bigger than $slider-height on hover
$slider-hover-height: 8; // Height of progress bar hover area
$progress-bar-margin: 4rem;

// Colors
$accent-color: #cc0000;
$primary-foreground-color: #ffffff !default;
$primary-background-color: #1a1a1a !default;
$secondary-foreground-color: #fff !default; // buffer
$secondary-background-color: #ffff00 !default; // not used

// Transparency
$primary-background-transparency: 1 !default;
$secondary-background-transparency: 1 !default; // not used

// Big play button
$big-play-button--width: 5.4rem !default;
$big-play-button--height: 5.4rem !default;

// Controls
$controls-margin: 2.4rem;
$control-button-width: 2.4rem;
$menu-width: 8rem;

// Time display
$text-font-family: Helvetica, Arial, sans-serif !default;
$text-time-size: 1.2rem;
$time-width: 5rem;