// Progress and volume sliders
$slider-height: 0.2em; // Slider height
$slider-height-increase: 1; // Hover height is this factor bigger than $slider-height
$slider-handle-height: 4; // Handle height is this factor bigger than $slider-height
$slider-handle-height-increase: 8; // Handle height is this factor bigger than $slider-height on hover
$slider-hover-height: 8; // Height of progress bar hover area
$progress-bar-margin: 54px; // Side margins for progress bar

// Colors
$accent-color: #e50000;
$primary-foreground-color: #fff !default;
$primary-background-color: #1a1a1a !default;
$menu-text-color: #999;
$menu-text-color-highlight: #ccc;
$menu-background-color-hgihlight: #666 !default;
$menu-background-color: #333 !default; // menus

// Filters
$filter-drop-shadow: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.4));

// Transparency
$primary-background-transparency: 1 !default;
$secondary-background-transparency: 1 !default; // not used

// Big play button
$big-play-button--width: 6.4em !default;
$big-play-button--height: 6.4em !default;

// Controls
$controls-margin: 24px;
$control-button-width: 2.4em; // Also height as Neue buttons are square
$control-button-spacing: 1.6em;
$volume-menu-width: 8em;

// Time display
$text-font-family: Consolas, Lucida Console, Lucida Sans Typewriter, monospace !default;
$text-time-size: 1.2em;
$time-width: 5em;

// Modal and error
$text-modal-size: 1.2em;
$text-modal-line-height: 1.8;
